@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design tokens & base styles */
@layer base {
  html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
  body { color: theme('colors.slate.800'); }
}

/* custom utilities */
@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; /* standard property for compatibility */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

html, body, #root { height: 100%; }
